.mt-main {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  overflow: scroll;
}

.mt-head {
  width: 100%;
  height: 30px;
  display: flex;
  border-radius: 8px 8px 0 0;
  background-color: #19dcb9;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  border: 1px solid #d4d4d4;
}

.mt-head-pos {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-head-text {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 4px;
  justify-content: center;
  border-left: 1px solid #d4d4d4;
}

.mt-item {
  width: 100%;
  height: 20px;
  display: flex;
  font-size: 1rem;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #d4d4d4;
}

.mt-item-pos {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.mt-item-text {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  background-color: #fff;
  border-left: 1px solid #d4d4d4;
}
