.mchp__main {
  width: 100%;
  min-width: 320px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mchp__mhc-data {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.mchp__kernel-mem {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.mchp__km-item {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mchp__km-item-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary-green);
}

.km-item__input-main {
  height: 100%;
  display: flex;
}

.km-item__input-value {
  width: 100px;
  height: 100%;
  text-align: center;
  border: 2px solid var(--primary-green);
  border-radius: 20%;
  font-size: 2.5rem;
  color: var(--primary-green);
}

.km-item__input-value:focus {
  outline: none;
  border-width: 3px;
}

.km-item__input-value::-webkit-inner-spin-button,
.km-item__input-value::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.km-item__input-value {
  -moz-appearance: textfield;
}

.km-item__row-btns-main {
  width: 30px;
  height: 100%;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row-btns-item {
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  background-color: rgba(0, 0, 0, 0);
}

.row-btns-item:hover {
  cursor: pointer;
}

.row-btns-item-top {
  border-top: none;
  border-bottom: 15px solid var(--primary-green);
}

.row-btns-item-bottom {
  border-top: 15px solid var(--primary-green);
  border-bottom: none;
}

.mchp__mch-btns {
  width: 48%;
  height: 108px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mch-btns-item {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1.5rem;
}

.mch-btns-item:hover {
  cursor: pointer;
}

.mchp__process {
  width: 90%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.mchp__accumulator {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.accumulator-title {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--primary-blue);
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #fff;
  color: var(--primary-blue);
}

.accumulator-value {
  width: 38%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--primary-blue);
  border-radius: 8px;
  font-size: 2.4rem;
  font-weight: 600;
  background-color: #fff;
  color: var(--primary-blue);
}

.mchp__active-line {
  width: 100%;
  height: 50px;
  margin-top: 8px;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: solid 2px var(--primary-blue);
  border-radius: 8px;
  background-color: #fff;
  color: var(--primary-blue);
}

.active-line-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.active-line-text {
  font-size: 1.6rem;
  font-weight: 500;
}

.mchp__process-btns {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.process-btns__sub-main {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.process-btns__sub-main-item {
  width: 48%;
  height: 100%;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1.5rem;
}

.process-btns__sub-main-item:hover {
  cursor: pointer;
}

.process-btns-item {
  width: 100%;
  height: 50px;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1.5rem;
}

.process-btns-item:hover {
  cursor: pointer;
}
