:root {
  --primary-blue: #407bff;
  --primary-green: #19dcb9;
  --ambient-green: #eaf9f8;
  --secondary-purple: #ab5fde;
  --reset-red: #e66e6e;
  --aqua-blue: #5ee1e6;
  --dark-purple: #605ee6;
  --analyze-orange: #f4966e;
  --disabled-gray: #bfbfbf;
  --state-rose: #eb597b;
  --next-yellow: #f5e38c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

/* Inicio estilos scroll */
.my-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.my-scroll::-webkit-scrollbar:vertical {
  width: 10px;
}

.my-scroll::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.my-scroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.my-scroll::-webkit-scrollbar-thumb {
  background-color: #b4afaf;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.my-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Final estilos scroll */

body {
  background-color: #fff;
}

/* Backgrounds */
.bg-pblue {
  background-color: var(--primary-blue);
}

.bg-pgreen {
  background-color: var(--primary-green);
}

.bg-abgreen {
  background-color: var(--ambient-green);
}

.bg-spurple {
  background-color: var(--secondary-purple);
}

.bg-rsred {
  background-color: var(--reset-red);
}

.bg-aqblue {
  background-color: var(--aqua-blue);
}

.bg-dkpurple {
  background-color: var(--dark-purple);
}

.bg-anzorange {
  background-color: var(--analyze-orange);
}

.bg-dsgray {
  background-color: var(--disabled-gray);
}

.bg-strose {
  background-color: var(--state-rose);
}

.bg-nxyellow {
  background-color: var(--next-yellow);
}

/* Borders */
.bd-pgreen {
  border-color: var(--primary-green);
}
